@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

form > div {
  @apply flex flex-col gap-2;
}



@layer components {
  .custom-h1 {
    @apply text-3xl sm:text-h1-sm md:text-h1-md lg:text-h1-lg 2xl:text-h1-2xl;
  }
  .custom-h2 {
    @apply text-2xl sm:text-h2-sm md:text-h2-md lg:text-h2-lg 2xl:text-h2-2xl;
  }
  .custom-h3 {
    @apply text-xl sm:text-h3-sm md:text-h3-md lg:text-h3-lg 2xl:text-h3-2xl;
  }
  .custom-h4 {
    @apply text-lg sm:text-h4-sm md:text-h4-md lg:text-h4-lg 2xl:text-h4-2xl;
  }
  .custom-h5 {
    @apply text-base sm:text-h5-sm md:text-h5-md lg:text-h5-lg 2xl:text-h5-2xl;
  }
  .custom-h6 {
    @apply text-sm sm:text-h6-sm md:text-h6-md lg:text-h6-lg 2xl:text-h6-2xl;
  }
}

/* End of global.css */
